body {
	background-image:url(images/flames12.jpg);
	background-repeat:repeat-x;
	color:#000000;
	}

h1 {
	color:#FFFFFF;
	}

h2 {
	color:#FFFFFF;
	}

h4 {
	color:#FFFFFF;
	}

a {
	font-weight:bold;
	}